
#container { 
	width: 800px; 
	margin-left: auto; 
	margin-right: auto; 
	background-color: white; 
	border: 2px; 
	border-radius: 25px; 
	box-shadow: 2px 2px 1px #888888; 
	overflow: auto;
}

h1{ 
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
}

#menu {
	float: right; 
	height: 400px; 
	width:150px; 
	padding-left: 5px; 
	border-style: solid; 
	border-width: 1px; 
	text-align: center;
}

#content {
	float: right; 
	height: auto; 
	width:640px;
}

#footer {
	clear:both; 
	text-align: center;
}

.title{
	font-weight: bold;
}

.image{
	width: 100%;
	height: auto;
}
