#header{
	background-color: yellow;
	color:blue;
	padding: 5px;
}

#menu{
	background-color: blue;
	color: red;
	float: left;
	height: 600px;
}

#content{
	height: 200px;
	width: 400px;
	float: left;
	background-color: black;
	color: white;
	position: relative;
}

#footer{
	text-align: center;
}

#SCpic{
	position: center;
}