body{
    background-color: #bbb;

    margin: 0px;
}
#title{
  position: relative;
  top: 10%;
  transform: translateY(-50%);
}
#header{
    float: left;

    width: 100%;
    height: 150px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: left;
    font-family: arimo;
    font-size: 250%;
    /* background-image: url("../images/header1.jpg"); */
    background-color: #666666;
    border-bottom: solid;
}

#content{
    float: left;	
    width: 69%;
    height: auto;
    /* background-color: chocolate; */
	
    /* border: solid; */
    margin-left: 20px;
}

#recentposts {
float: right;
width: 24%;
height: auto;
margin-bottom: 10px;
margin-right: 1%;
}

#ads{
    float: right;
    text-align: center;
    width: 24%;
    height: 200px;
    margin-right: 1%;
}

#footer{
    float: left;
	
    width: 100%;
    background-color: black;
    margin-top: 20px;
    height: 15px;
}

.image{
    width: 75%;
    height: auto;
    float: left;
    clear: left;
}

.section{
    border:solid;
}